{% extends "./datacenter/base.html" %}

{%block main%}
<script src = "/static/js/jquery.gridster.min.js" type ="text/javascript" charset="utf-8"></script>
<script src = "/static/js/echarts.min.js" type = "text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.gridster.css">
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="30" data-sizey="8"><div style = "background-color:rgba(255,255,255,0.9);width:880px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/included_monitoring_count_year_chart_panel.html" %}</div></li>
    <li data-row="1" data-col="31" data-sizex="8" data-sizey="8"><div style = "background-color:rgba(255,255,255,0.9);width:220px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/service_platform_count_chart_panel.html" %}</div></li>
    <li data-row="9" data-col="9" data-sizex="22" data-sizey="8"><div style = "background-color:rgba(255,255,255,0.9);width:640px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/included_monitoring_count_area_chart_panel.html" %}</div></li>
    <li data-row="9" data-col="1" data-sizex="8" data-sizey="8"><div style = "background-color:rgba(255,255,255,0.9);width:220px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/area_count_chart_panel.html" %}</div></li>
    <li data-row="9" data-col="31" data-sizex="8" data-sizey="11"><div style = "background-color:rgba(255,255,255,0.9);width:220px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/data_transfer_chart_panel.html" %}</div></li>
  <li data-row="17" data-col="1" data-sizex="30" data-sizey="11"><div style = "background-color:rgba(255,255,255,0.9);width:880px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/join_leave_count_chart_panel.html" %}</div></li>
  <li data-row="20" data-col="31" data-sizex="8" data-sizey="8"><div style = "background-color:rgba(255,255,255,0.9);width:220px;border-radius:4px;margin:0 auto;">{% include "./datacenter/widgets/area_join_leave_count_chart_panel.html" %}</div></li>
  </ul>
</div>
<div id = "log"></div>
<script type="text/javascript">
  var gridster;
  $(function(){
      var log = document.getElementById('log');
      gridster = $(".gridster ul").gridster({
widget_base_dimensions: [20,20],
widget_margins: [5, 5],
resize: {
enabled: true,
start: function(e, ui, $widget) {
// log.innerHTML = 'START position: ' + ui.position.top +' '+ ui.position.left + "<br >" + log.innerHTML;
},
resize: function(e, ui, $widget) {
// log.innerHTML = 'RESIZE offset: ' + ui.pointer.diff_top +' '+ ui.pointer.diff_left + "<br >" + log.innerHTML;
},
stop: function(e, ui, $widget) {
//log.innerHTML = 'STOP position: ' + ui.position.top +' '+ ui.position.left + "<br >" + log.innerHTML;
}
}
}).data('gridster');
      });
    </script>
{% endblock %}
